.title { 
    background: url(../asset/titleFrostpipe.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.backg { 
    background: url(../asset/frostpunkBackground.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#startGame {
	/*text-align: center;*/
	position: fixed;
	/*display:inline-block;*/
	top: 300px;
	left: 900px;
}
.buttonStart {
	background-color: CornflowerBlue;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
 	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}
.buttonMenu {
	background-color: CornflowerBlue;
  	border: none;
  	color: white;
  	padding: 10px 16px;
    border-radius: 5px;
  	text-align: center;
  	text-decoration: none;
 	display: inline-block;
  	font-size: 13px;
  	margin: 2px 1px;
  	cursor: pointer;
}
.rules {
	border: 1px blue;
	background-color: rgba(3, 88, 153, 0.7);
	/*opacity: 0.5;*/
	color: white;
	padding: 20px;
	margin: 50px;
	text-align: center;
}
.topPanel {
	width: 100%;
	height: 15vh;
	background-color: lightgray;
	text-align: center
}
.house {
	/*text-align: center;*/

	display: inline-block;
	height:100%;
	width: 200px;
	background-color: BurlyWood;
}
divLine {
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid #BBBBBB;
}
.gameBoard {
	height: 85vh;
	/*min-height: calc(100vh -100px);*/
	background-color: darkgray;
	width:100%;
	/*position: relative;*/
}

p{
	font-size: 20px;;
}